/*Reset CSS*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

button:hover {
    cursor: pointer;
}
/*Reset CSS*/

/*Style*/
:root {
    /*Colors*/
    --color-light: #fffbe8;
    --color-yellow: #f5f2d6;
    --color-green: #185a41;
    --color-primary: #063b29;

    /*Fonts*/
    --text-xxxl: normal normal 500 normal clamp(4em, 5vw, 4.5em) normal, "Playfair Display", serif;/* 72px */
    --text-xxl: normal normal 500 normal clamp(3em, 5vw, 3.5em) normal, "Playfair Display", serif;/* 48px */
    --text-xl: normal normal 500 normal clamp(1.875em, 5vw, 2em) normal, "Playfair Display", serif;/* 30px */
    --text-lg: normal normal 400 normal clamp(1.25em, 5vw, 1.5em)  normal, "Playfair Display", serif;/* 20px */
    --text-md: normal normal 400 normal clamp(1.125em, 4vw, 1.25em)  normal, "Playfair Display", serif;/* 18px */

    --text-sm: normal normal 400 normal clamp(1.125em, 4vw, 1.25em)  normal, "DM Sans", serif;/* 18px */
    --text-xs: normal normal 400 normal clamp(1em, 4vw, 1.125em)  normal, "DM Sans", serif;/* 16px */
    --text-xxs: normal normal 400 normal clamp(.875em, 3vw, .9em)  normal, "DM Sans", serif;/* 14px */
    --text-xxxs: normal normal 400 normal clamp(.75em, 2vw, .8em)  normal, "DM Sans", sans-serif;/* 12px */
}

:root {
    /*Spaces*/
    --space-1: .25rem;
    --space-2: .5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-12: 3rem;
    --space-16: 4rem;

    /*Layout*/    
    --max-width: 73.7rem;
    --max-width-md: 35rem;
    --max-width-xs: 27rem;
    /* --max-width-xl: 88.75rem; */
    --min-width: 18.75rem;
    --min-width-xs: 12.5rem;
}
/*Style*/

/* Animaciones */
@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translatex(var(--max-width-xs));
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translatex(0);
    }

    100% {
        transform: translateX(var(--max-width-xs));
    }
}
/* Animaciones */

/*Components*/
h1, .h1 {
    font: var(--text-xxxl);
}

h2, .h2 {
    font: var(--text-xxl);
}
    
h3, .h3 {
    font: var(--text-xl);
}

h4, .h4 {
    font: var(--text-lg);
}

h5, .h5 {
    font: var(--text-md);
}

h6, .h6 {
    font: var(--text-sm);
}

p, .p {
    font: var(--text-xs);
}

a, button, .link, label, input, textarea, .body, .eyebrow--text {
    font: var(--text-xxs);
}

.feature {
    font: var(--text-xxxs);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    padding: .625rem 2rem;
    border-radius: var(--space-12);
    transition: background-color 300ms, color 300ms, opacity 300ms;

    &.btn--filled {
        background-color: var(--color-light);
        color: var(--color-primary);
    }

    &.btn--border {
        border: .0625rem solid var(--color-light);
        color: var(--color-light);
    }

    &:hover {
        background-color: var(--color-yellow);
        color: var(--color-primary);
    }

    &.btn--filter {
        background-color: var(--color-yellow);
        color: var(--color-green);

        &.selected {
            background-color: var(--color-primary);
            color: var(--color-light);
        }

        &:hover {
            background-color: var(--color-green);
            color: var(--color-light);
        }
    }

    &.btn--green {
        background-color: var(--color-primary);
        color: var(--color-light);

        &:hover {
            background-color: var(--color-green);
            color: var(--color-light);
        }
    }
}

input, textarea {
    padding: .75rem 1rem;
    border-radius: var(--space-4);
    border: none;
    background-color: var(--color-yellow);
    width: 100%;
    resize: none;
}


button[type="submit"], .btn--green--alter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    padding: var(--space-4);
    color: var(--color-light);
    background-color: var(--color-primary);
    border-radius: var(--space-4);
    border: none;

    &:hover {
        transition: background-color 300ms;
        background-color: var(--color-green);
    }

    &:active {
        transition: background-color 300ms;
        background-color: var(--color-primary);
    }
}

.block {
    padding: var(--space-16) var(--space-6);
    max-width: var(--max-width);
    margin: 0 auto;
}

.no-mobile {
    @media (width <= 48rem) {
        display: none;
    }
}

.no-desktop {
    display: none;
    @media (width <= 48rem) {
        display: inline-block;
    }
}
/*Components*/

/*Header*/
.header {
    background-color: var(--color-light);
    color: var(--color-primary);
    box-shadow: rgba(33, 38, 34, 0.301) 0px 10px 10px -10px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    transition: background-color 300ms, color 300ms;

    &.header--hero {
        background-color: transparent;
        color: var(--color-light);
        box-shadow: none;

        & button {
            color: var(--color-light);
        }

        & .header__underline {
            background-color: var(--color-light);
        }

        & .header__circle {
            border: .0938rem solid var(--color-light);
        }

        & .header__cart__count {
            background-color: var(--color-light);
            color: var(--color-primary);
        }

        & .header__nav--open {
            background-color: var(--color-primary);
            color: var(--color-light);
        }

        &.header--opened{
            background-color: var(--color-primary);
        }
    }
}

.header__block {
    padding: var(--space-2) var(--space-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font: var(--text-lg);
    display: flex;
    gap: .625rem;
    align-items: center;

    & .header__logo__img {
        max-width: 2rem;
    }
}

.header__ul{
    display: flex;
    gap: var(--space-8);
    align-items: center;

    & li:hover .header__underline {
        width: 100%;
    }
}

.header__underline {
    height: .0938rem;
    width: 0;
    background-color: var(--color-primary);
    transition: width 300ms;
}

.header__icons {
    display: flex;
    gap: var(--space-4);
    
    & button {
        color: var(--color-primary);
    }
}

#cart-open {
    padding: .625rem;
    font-size: 1.125rem;
    position: relative;

    &:hover .header__circle {
        transform: scale(1);
        opacity: 1;
    }
    
}

.header__cart__count {
    position: absolute;
    top: -.1rem;
    right: -.1rem;
    background-color: var(--color-primary);
    color: var(--color-light);
    border-radius: 50%;
    padding: var(--space-1);
    font-size: .65rem;
    min-width: 1.25rem;
    height: 1.25rem;
    display: none;
}

.header__circle { 
    height: 100%;
    width: 100%;
    transform: scale(0);
    border: .0938rem solid var(--color-primary);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
}

#menu-toggle {
    font-size: 1rem;
    padding: .625rem;
    position: relative;

    & .ri-close-large-line {
        display: none;
    }
    
    &.menu--opened {
        & .ri-close-large-line {
            display: inline-block;
        }

        & .ri-menu-fill {
            display: none;
        }
    }

    &:hover .header__circle {
        transform: scale(1);
        opacity: 1;
    }
    
}

.header__nav--open {
    position: fixed;
    top: 3.5rem;
    left: 0;
    width: 100vw;
    padding: var(--space-8);
    background-color: var(--color-light);
    color: var(--color-primary);
    box-shadow: rgba(33, 38, 34, 0.301) 0px 10px 10px -10px;
    transition: background-color 300ms, color 300ms;
    animation: appear 300ms forwards;

    & ul {
        flex-direction: column;
        align-items: start;
        gap: var(--space-4);
        
        & a {
            font: var(--text-md);
        }
    }
}
/*Header*/

/* Hero */
.hero__block {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg,rgba(6, 59, 41, 0.6) 0%, rgba(6, 59, 41, 0.6) 100%);
    position: relative;
}

.hero--alternate {
    background: var(--color-primary);
    padding: 3.5625rem 0 0;
}

.hero__block--alternate {
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-4);

    & .eyebrow--text {
        color: var(--color-light);
        transition: opacity 300ms;
        opacity: .7;
        
        &:hover {
            opacity: 1;
        }
    }
}

.hero__title--alternate {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-8);
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & p {
        max-width: var(--max-width-xs);
    }
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3.5625rem 1.5rem 2rem;
    gap: var(--space-8);
    min-height: 100vh;
    max-width: var(--max-width-md);
    color: var(--color-light);
}

.hero__features, .spaces__features {
    border: 1px solid #e7e1c976;
    padding: 0.3625rem 0.9875rem;
    border-radius: 3.125rem;
    background-color: #e7e1c92c;
}

.hero__title--green {
    color: #B8E0C5; 
}

.hero__buttons{
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4);
}

.hero__background, .spaces__background, .shop__background, .popup__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms, opacity 300ms;
}

/* History */
.history {
    background-color: var(--color-light);
}

.history__block {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-16);    
}

.history__text {
    flex: 1 1 25rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    color: var(--color-primary);
    justify-content: center;
}

.history__image {
    flex: 1 1 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    & img {
        border-radius: var(--space-4);
    }
}

.history__info {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: var(--space-6);
    border-radius: var(--space-4);
    max-width: 12.5rem;
    position:absolute;
    left: -1.25rem;
    bottom: -1.25rem;
}

/* Features */
.features {
    background-color: var(--color-light);
}

.features__block {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width-xs), 1fr));
    gap: var(--space-6);
}

.features__card {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    padding: var(--space-6);
    background-color: #f4eed5;
    border-radius: var(--space-4);
    color: var(--color-primary);
    align-items: start;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    & i {
        background-color: rgba(0, 0, 0, 0.05);
        padding: var(--space-4);
        border-radius: var(--space-4);
    }
}

/* Spaces */
.spaces {
    background-color: var(--color-yellow);
}

.spaces__block { 
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-6); 
    @media (width <= 48rem) {
        align-items: start;
    }
}

.spaces__description {
    text-align: center;
    max-width: var(--max-width-xs);
    @media (width <= 48rem) {
        text-align: start;
        max-width: 100%;
    }
}

.spaces__cards {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-6);
}

.spaces__card { 
    flex: 1 1 300px;
    border-radius: var(--space-4);
    position: relative;
    transition: scale 300ms;
    overflow: hidden;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
    &:hover img {
        transform: scale(1.1);
    }
}

.spaces__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 9.375rem var(--space-6) var(--space-6);
    gap: var(--space-4);
    color: var(--color-yellow);
    background: linear-gradient(0deg,rgba(6, 59, 41, 0.9) 0%, rgba(6, 59, 41, 0.2) 100%);
}   

.spaces__icon {
    background-color:#fffbe834;
    padding: var(--space-4);
    border-radius: var(--space-4);
}

.spaces__grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
}

/* Clients */
.clients {
    background-color: var(--color-primary);
}

.clients__block {
    color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-6);
    @media (width <= 48rem) {
        align-items: start;
    }
}

.clients__cards {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width-xs), 1fr));
    gap: var(--space-6);
}

.clients__card {
    padding: var(--space-6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-6);
    background-color: var(--color-green);
    border-radius: var(--space-4);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.clients__review {
    font: italic normal 400 normal clamp(1.25em, 5vw, 1.125em)  normal, "Playfair Display", serif;
}

.clients__stars {
    color: #F0C060;
    display: flex;
    gap: var(--space-1);
}

.clients__description {
    font-size: .75rem;
    opacity: .7;
}

/* Contact */
.contact {
    background-color: var(--color-yellow);
}

.contact__block {
    color: var(--color-primary);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-16); 
}

.contact__text {
    flex: 1 1 15.625rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
}

.contact__link {
    display: flex;
    gap: var(--space-4);
    align-items: center;

    & div {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
    }
    
    &:hover .contact__link__icon{
        transition: color 300ms, background-color 300ms;
        background-color: var(--color-primary);
        color: var(--color-light);
    }
}

.contact__link__icon {
    background-color:#154f391b;
    font-size: 1.5rem;
    padding: var(--space-4);
    border-radius: var(--space-4);
}

.contact__content {
    flex: 1 1 18.75rem;
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    padding: var(--space-8);
    border-radius: var(--space-4);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.contact__form-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.contact__form__message {
    height: 10rem;
}

.contact__form-acceptance {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--space-2);

    & input {
        width: 1rem;
    }

    & a {
        text-decoration: underline;
        font-weight: bold;
    }
}

/* Visit */
.visit {
    background-color: var(--color-light);
}

.visit__block {
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.visit__title {
    display: flex;
    align-items: center;
    gap: var(--space-4);

    & i {
        font-size: 2rem;
    }
}

.visit__cards {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-6);
}

.visit__card {
    flex: 1 1 20rem;
    background-color: var(--color-yellow);
    display: flex;
    flex-direction:  column;
    border-radius: var(--space-4);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.visit__map{
    border: none;
    border-radius: var(--space-4) var(--space-4) 0 0;
    min-height: 15rem;
}

.visit__text {
    display: flex;
    flex-direction: column;
    padding: var(--space-6);
    gap: var(--space-4);
}

.visit__text__detail {
    display: flex;
    gap: var(--space-4);
    align-items: center;
}

.visit__icon {
    background-color:#154f391b;
    padding: var(--space-2);
    border-radius: var(--space-2);
}

/*Scroller*/
.scroller__block {
    background-color: var(--color-primary);
    color: var(--color-light);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    font-size: 1.25rem;
    padding: .625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;  
    right: 1rem;
    z-index: 1;
    transition: background-color 300ms,opacity 600ms, transform 300ms;

    &:hover {
        background-color: var(--color-green);
    }

    &.scroller-hero {
        opacity: 0;
        transform: translateY(3.5rem);
    }
}

/*Shooping Cart*/
.cart {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color:#0f3e2d85;
    backdrop-filter: blur(1rem);
    
    display: none;
}

.cart__opened {
    display: flex;
    justify-content: end;
    
    animation: appear 150ms forwards;

    & .cart__block {
        animation: slideLeft 300ms forwards;
    }
}

.cart__closed {
    display: flex;
    justify-content: end; 

    & .cart__block {
         animation: slideRight 300ms forwards;
    }
}

.cart__block {
    background-color: var(--color-light);
    color: var(--color-primary);
    max-width: var(--max-width-xs);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & button {
        color: var(--color-primary);
    }
}

#cart-close {
    padding: .625rem;
    position: relative;

    &:hover .header__circle {
        transform: scale(1);
        opacity: 1;
    }
}

.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem var(--space-6);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    width: 100%;
}

.cart__empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-6);
    padding: var(--space-6);

    & i, p {
        opacity: 0.5;
    }
}

.cart__full {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-6);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.cart__item {
    display: flex;
    justify-content: start;
    gap: var(--space-4);
    padding: var(--space-6) 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.cart__item__img {
    min-width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: var(--space-4);
}

.cart__item__description {
    display: flex;
    flex-direction: column;
    width: 100%;

    & h3 {
        font-size: 1rem;
    }

    & p {
        font-size: .75rem;
    }
}

.cart__item__container{
    display: flex;
    padding: var(--space-4) 0 0 0;
    gap: var(--space-6);
    justify-content: space-between;
    align-items: center;
}

.cart__item__input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
    background-color: var(--color-yellow);
    border-radius: var(--space-12);

    & button {
        padding: var(--space-1) var(--space-2);
        border-radius: var(--space-12);
        transition: background-color 300ms, color 300ms;

        &:hover {
            background-color: var(--color-primary);
            color: var(--color-yellow);
        }
    }
}

.cart__item__price {
    display: flex;
    gap: var(--space-4);
    align-items: center;

    & p {
        font-size: 1rem;
    }
}

.cart__item__delete {
    opacity: 0.5;
    transition: opacity 300ms;

    &:hover {
        opacity: 1;
    }
}

.cart__checkout {
    background-color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    padding: 1.25rem var(--space-6);
}

.cart__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Shooping Cart*/

/*Footer*/
.footer {
    background-color: var(--color-primary);
}

.footer__block {
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    padding: var(--space-8);
    gap: var(--space-4);
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-12);
    justify-content: space-between;
    align-items: center;
    padding: var(--space-4) 0;
    
    @media (width <= 29rem) {
        justify-content: center;
    }
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: .625rem;
}

.footer__img {
    max-width: 3rem;
}

.footer__icon {
    background-color:var(--color-green);
    font-size: 1rem;
    padding: var(--space-2);
    border-radius: 50%;
    
    &:hover {
        transition: background-color 300ms;
        background-color: #196045;
    }
}

.footer__social {
    display: flex;
    gap: var(--space-4);
}

.footer__legal {
    display: flex;
    gap: var(--space-6);
    padding: var(--space-4) 0;
}

.footer__copyright {
    font: var(--text-xxxs);
    text-align: center;
    opacity: 0.5;
}
/*Footer*/

/*Info Cafeteria*/
.info {
    background-color: var(--color-yellow);
    color: var(--color-primary);
}

.info__block {
    max-width: var(--max-width);
    padding: var(--space-6);
    border-radius: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-8);
    justify-content: center;

    @media (width <= 48rem) {
        gap: var(--space-4);
    }
}
/*Info Cafeteria*/

/*Gallery*/
.gallery {
    background-color: var(--color-light);
}

.gallery__block {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, auto);
    gap: var(--space-4);

    @media (width <= 48rem) {
        grid-template-columns: repeat(2, auto); 
    }

    & .large {
        grid-column: span 2;
        grid-row: span 2;
    }
}

.gallery__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--space-4);
}
/*Gallery*/

/*Menu*/
.menu {
    background-color: var(--color-light);
    color: var(--color-primary);
}

.menu__block {
    text-align: center;
    padding: 0 var(--space-6);
}

.menu__category {
    padding: var(--space-12) 0 0 0;
    text-align: start;

    & h4 {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    }
}

.menu__list {
    padding: var(--space-6);
}

.menu__item {
    display: flex;
    gap: var(--space-1);
    justify-content: space-between;
    padding: var(--space-4) 0;
}

.menu__item__top {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    
    & p {
        opacity: .7;
    }
}

.menu__item__title {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.menu__feature, .shop__feature {
    padding: .125rem .625rem;
    border-radius: 2rem;
    
    &.vegan {
        background-color: #D9D5EA;
        color: #300060;
    }

    &.lactose {
        background-color: #D5EAD9;
        color: #004D20;
    }

    &.energy {
        background-color: #EAD9D5;
        color: #6B1A00;
    }

    &.gluten {
        background-color: #F0EAC8;
        color: #564500;
    }

    &.keto {
        background-color: #c8dbf0;
        color: #002256;
    }
}

.menu__item__price {
    white-space: nowrap;
}
/*Menu*/

/*Reviews*/
.reviews {
    background-color: var(--color-light);
}

.reviews__card {
    background-color: var(--color-primary);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: var(--space-6);
    gap: var(--space-6);
    border-radius: var(--space-4);
    text-align: center;

    & .clients__description {
        opacity: .6;
    }
}
/*Reviews*/

/*Shop*/
.shop {
    background-color: var(--color-light);
    color: var(--color-primary);
}

.shop__filter {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);

    & .btn {
        padding: var(--space-2) var(--space-4);
    }
}

.shop__container {
    padding: var(--space-12) 0;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: var(--space-6);
}

.shop__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--space-4);
    transition: scale 300ms, box-shadow 300ms;
    cursor: pointer;
    z-index: 0;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
        & img {
            transform: scale(1.1);
        }
    }
    
}

.item__info {
    display: flex;
    flex-direction: column;
    padding: var(--space-4);
    gap: var(--space-4);

    & p {
        opacity: .8;
    }
}

.item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-4);

    & p {
        white-space: nowrap;
    }
}

.item__features {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--space-2);
    opacity: 1;
}

.item__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-4);
    padding: 0 var(--space-4) var(--space-4) var(--space-4) ;
}

.item__img {
    height: 12rem;
    position: relative;
    overflow: hidden;
}
/*Shop*/

/*Pop up*/
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color:#0f3e2d85;
    backdrop-filter: blur(1rem);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;
}

.popup__active {
    opacity: 1;
    pointer-events: auto;
}

.popup__block {
    display: flex;
    flex-wrap: wrap;
    border-radius: var(--space-4);
    width: 90vw;
    max-width: 47rem;
    max-height: 90vh;
    background-color: var(--color-light);
    color: var(--color-primary);
    overflow-y: scroll;
    overscroll-behavior: contain;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.popup__img {
    flex: 1 1 12rem;
    max-height: 100%;
    min-height: 12rem;
    position: relative;
    overflow: hidden;

    & .popup__background {
        z-index: 0;
    }
}

.popup__info {
    flex: 1 1 25rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    padding: var(--space-6);
}

.eyebrow--container {
    display: flex;
    gap: var(--space-4);
    align-items: center;

    & .category {
        text-transform: uppercase;
    }
}

.popup__title p {
    opacity: .7;
}

.popup__benefits {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    padding: var(--space-4);
    background-color: var(--color-yellow);
    border-radius: var(--space-4);
}

.popup__benefits__container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4);

    & li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-2);
    }
}

.popup__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popup-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.popup__close {
    padding: .625rem;
    position: relative;
    background-color: var(--color-light);
    color: var(--color-primary);
    border-radius: 50%;

    &:hover .header__circle {
        transform: scale(1);
        opacity: 1;
    }
}
/*Pop up*/

/*Checkout*/
.checkout {
    background-color: var(--color-light);
    color: var(--color-primary);
}

.checkout__form {
    display: flex;
    gap: var(--space-8);
    flex-wrap: wrap;
    align-items: start;
}

.checkout__data {
    flex: 1 1 25rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    padding: 0 var(--space-6);
}

.checkout__container {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.checkout__form-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.checkout__form__label {
    opacity: .7;
}

.checkout__selector {
    display: flex;
    gap: var(--space-6);
}

.selector__option {
    padding: var(--space-4) var(--space-6);
    background-color: var(--color-yellow);
    border: 2px solid var(--color-yellow);
    border-radius: var(--space-4);
    opacity: .6;
    transition: border 300ms, opacity 300ms;
    cursor: pointer;

    &:hover {
        border: 2px solid var(--color-primary);
    }

    &.selected {
        border: 2px solid var(--color-primary);
        opacity: 1;
    }
}

.checkout__selector__option {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.checkout__hidden {
    display: none;
}

.pickup__container {
    display: flex;
    justify-content: space-between;
    padding: var(--space-6);
    gap: var(--space-4);
    background-color: var(--color-yellow);
    border: 2px solid var(--color-yellow);
    border-radius: var(--space-4);
    opacity: .6;
    transition: border 300ms, opacity 300ms;
    cursor: pointer;

    &:hover {
        border: 2px solid var(--color-primary);
    }

    &.selected {
        border: 2px solid var(--color-primary);
        opacity: 1;

        & .checkout__checkbox {
            background-color: var(--color-primary);
            border: 1px solid var(--color-primary);
        }

        & .inner{
            width: var(--space-2);
            height: var(--space-2);
            background-color: var(--color-light);
            border-radius: 50%;
        }
    }
}

.pickup__text {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.checkout__checkbox {
    min-width: var(--space-6);
    height: var(--space-6);
    background-color: var(--color-light);
    border: 1px solid var(--color-green);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout__cart {
    flex: 1 1 10rem;
    position: sticky;
    top: 4rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-yellow);
    border-radius: var(--space-4);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    & h2, ul {
        padding: var(--space-6);
        box-shadow: rgba(17, 17, 26, 0.2) 0px 1px 0px;
    }
}


.checkout__cart__container {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    & .cart__item {
        padding: 0;
        box-shadow: none;
    }


    & .cart__item__description {
        flex-direction: row;
        justify-content: space-between;
        gap: var(--space-4);
        align-items: start;
        
    }

    & .cart__item__price {
        font: var(--text-xs);
        white-space: nowrap;
    }

    & .cart__item__container{
        padding: 0;
        gap: var(--space-1);
        opacity: .7;

        & p {
            font-size: .9rem;
            white-space: nowrap;
        }
    }

}

.checkout__finish {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    padding: var(--space-6);
}